anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
Bottleneck
Brotli
cached-property
certifi
cffi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
entrypoints
exceptiongroup
executing
fastjsonschema
fonttools==4.25.0
fqdn
h11
h2
hpack==4.0.0
httpcore
httpx
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
isoduration
jedi
Jinja2
json5
jsonpointer==2.0
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
munkres==1.1.4
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
prometheus_client
prompt_toolkit
psutil
ptyprocess
pure_eval
pycparser
Pygments
pyparsing
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scipy
seaborn
Send2Trash
setuptools==75.1.0
six
sniffio
soupsieve
stack-data
sweetviz
terminado
tinycss2
tomli
tornado
tqdm
traitlets
types-python-dateutil
typing-utils
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wheel==0.44.0
zipp
